table,tr,td{
  border:2px solid #000;
  border-collapse: collapse;
  margin:3px;
}
.main{
  width:100%;
  background-color: silver;
  display:flex;
  flex-wrap: wrap;
}
.left{
  text-align: justify;
  background-color: #5f9ea0;
  border: 5px solid #85144b;
  margin: 5px;
  flex:2;
  padding:3px;

}
.right{
  text-align: justify;
  background-color: #dddddd;
  border: 5px solid #85144b;
  margin: 5px;
  flex:2;
  padding:3px;
}
#name{
  color: green;
}
.left img{
  border-radius: 50px;
  border:5px solid #c454;
  border-color: #85144b;
}
 /*media queries(1024,1280,768,480)
 1280-1024 : Desktop
1024-768 : Tablet(landscape)
768-480 : Tablet
480 : mobile landscape (or)smaller device

*/
@media only screen and (min-width:1024px) and (max-width:1280px)
{
.main{
  width:100%;
  background-color: silver;
  display:flex;
  flex-wrap: wrap;

}
.left{
  text-align: justify;
  background-color: silver;
  border: 5px solid #85144b;
  margin: 5px;
  flex:2;
  padding:3px;

}

.right{
  text-align: justify;
  background-color: #c45e45;
  border: 5px solid #85144b;
  margin: 5px;
  flex:2;
  padding:3px;


}
}
@media only screen and (min-width:768px) and (max-width:1024px){
  .main{
      width:100%;
    background-color: silver;
    display:flex;
    flex-wrap: wrap;

  }
  .left{
    text-align: justify;
    background-color: pink;
    border: 5px solid #85144b;
    margin: 5px;
    flex:2;
    padding:3px;

  }
  .right{
    text-align: justify;
    background-color: cadedblue;
    border: 5px solid #85144b;
    margin: 5px;
    flex:2;
    padding:3px;


  }
}
@media only screen and (min-width:280px) and (max-width:768px){
  .main{
    width:100%;
  background-color: silver;
  display:flex;
  flex-wrap: wrap;


  }
  .left{
    text-align: justify;
    background-color: aquamarine;
    border: 5px solid #85144b;
    margin: 5px;
    flex:2;
    padding:3px;

  }
  .right{
    text-align: justify;
    background-color: purple;
    border: 5px solid #85144b;
    margin: 5px;
    flex:2;
    padding:3px;


  }
}
}
